{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Добавление фото для продукта
{% endblock %}

{% block add_photo_product %}

  <div class="container">

    <h1 class="mb-5 text-center fw-bolder text-uppercase">Добавление фото для продукта: {{ product }}</h1>

    <form action="{% url 'add_photo_product' product.slug %}" class="form-row text-center" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ form_product_image.as_p }}

      <button type="submit" class="btn btn-primary mt-3" style="background-color:#FF6600; border-color:#FF6600;">
        Добавить фото для продукта
      </button>

    </form>

  </div>
  
{% endblock %}