{% extends 'base.html' %}

{% block title %}
  {{block.super }} | Заказ товаров
{% endblock %}

{% block order_product_form %}

  <h1 class="mb-5 text-center">Заказ товаров</h1>

  <div class="container">

    <form method="post">

      {% csrf_token %}
      {{ form.as_p }}
  
      <div class="btn_update_product text-center">
  
        <button type="submit" class="btn btn-primary btn-active mt-3" style="background-color:#FF6600; border-color:#FF6600;">
          Заказать
        </button>
      
      </div>
  
    </form>

  </div>

{% endblock %}