{% load product_tags %}
{% show_categories %}
{% show_brand_product %}
{% load bootstrap %}

{% block filters %}

  <div class="filter">

    <p class="fw-bolder mt-3 text-center">Фильтрация товаров</p>

    {% show_categories_size %}

    <form method="GET" class="text-center">

      {{ filter.form|bootstrap }}
      
        <button type="submit" class="btn btn-outline mt-2" style="background:#FF6600; color:#ffffff;">Поиск</button>      
      
    </form>

    <div class="btn-filter text-center">
      <a class="btn btn-outline mt-2" style="background:#FF6600; color:#ffffff;" aria-current="page" href="{% url 'home' %}">Очистить фильтр</a>
    </div>

  </div>

{% endblock %}


