{% extends "base.html" %}

{% block title %}
  {{ block.super }} | {{ title_head }}
{% endblock %}

{% block delevery_and_payment %}

  <div class="container">

    <h1 class="mb-5 text-center fw-bolder text-uppercase">Доставка и оплата</h1>

    <div class="delevery_and_payment_content">
      <p class="alert text-uppercase text-center fs-3" style="background-color:#FFCC99;" role="alert">
        Оплата банковской картой
      </p>
      <p class="delevery_and_payment_text">
        Вы можете оплатить свои заказы c помощью карт Visa (в том числе Electron), MasterCard (в том числе Maestro) (будет ли сайт платежной системы поддерживать Maestro). В процессе оплаты вы будете переадресованы на сайт платежной системы, где нужно ввести контактные данные и данные пластиковой карты и оплатить. По окончании процесса оплаты на указанный при оплате электронный адрес придет письмо с информацией о платеже.
        При оплате заказа банковской картой, обработка платежа (включая ввод номера карты) происходит на защищенной странице, которая прошла международную сертификацию. Это значит, что Ваши конфиденциальные данные (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена и никто, в том числе наш интернет-магазин, не может получить Ваши персональные и банковские данные. В случае возврата, денежные средства возвращаются на ту же карту, с которой производилась оплата.
        При переводе средств банк взимает комиссию. Пожалуйста, заранее поинтересуйтесь размером комиссии в Вашем банке, в среднем она составляет 2-3%. При оплате в филиале ОАО «Сбербанк России» через оператора комиссия составляет 1,5%, минимум 15 рублей от суммы оплаты. При переводе денег через банкоматы «Сбербанка России», платежные терминалы, а также системы «Сбербанк Онлайн» и «Мобильный Банк» комиссия составляет 1%, минимум 10рублей.
      </p>
    </div>

    <div class="delevery_and_payment_content">
      <p class="alert text-uppercase text-center fs-3" style="background-color:#FFCC99;" role="alert">
        Оплата наложенным платежом
      </p>
      <p class="delevery_and_payment_text">
        Оплата наложенным платежом - это когда Вы оплачиваете товар в момент получения, в своем почтовом отделении или через курьера. Оплата доставки с услугой наложенный платеж включает в себя 2-е составляющие:
        Оплата за пересылку Вашей посылки из пункта А в пункт Б, т.е. от нас до Вас. Стоимость эта зависит от размера, веса посылки и дальности пункта назначения. Наша компания ведет расчет за пересылку согласно действующим тарифам выбранной Вами службы доставки и не зарабатывает на этом деньги.
        Оплата за наложенный платеж - это комиссия, которая взимается слубжой доставки за перевод денежных средств от Вас до Нас! Обычно, в интернет-магазинах, этот платеж составляет 4-10% от общей стоимости товара и доставки. При покупке в нашем интернет-магазине, стоимость наложенного платежа при оплате через Почту России или курьерскую службу EMS Почты России составляет всего 2% от стоимости заказ, но ни менее 50рублей.
        Подробные тарифы на пересылку Вы можете посмотреть на сайтах Почты России, курьерской службы ЕМS-Почта России (гипперссылки).
        Если Вы выбираете этот способ, то при автоматическом расчете стоимости доставки на указанный Вами при регистрации электронный адрес высылается информационное письмо, с указание стоимости и состава заказа, и стоимости доставки, которая включает в себя стоимость пересылки по тарифам службы доставки и сумму оплаты за наложенный платеж.
        Если у вас не автоматический расчет (например, при авиа доставке или при негабаритной посылке) стоимости доставки, то сначала высылается информационное письмо, в котором указана стоимость вашего заказа без стоимости доставки. После расчета стоимости доставки, вы получаете электронное письмо, в котором указана стоимость товара, доставки и ориентировочная сумма оплаты за наложенный платеж.
        В течение 2 (двух) дней, срок резервирования товара, Вам необходимо подтвердить стоимость заказа. Для этого необходимо войти под логином в личный кабинет и нажать кнопку «Подтвердить» напротив Вашего заказа. После подтверждения заказа товар направляется в службу доставки.
      </p>
    </div>
    
    <div class="delevery_and_payment_content">
      <p class="alert text-uppercase text-center fs-3" style="background-color:#FFCC99;" role="alert">
        Оплата курьеру при получении
      </p>
      <p class="delevery_and_payment_text">
        Данный способ доступен только жителям Кавказских Минеральных Вод и гостям города. Курьеру можно оплатить заказ только наличными.
      </p>
    </div>

    <div class="delevery_and_payment_content">
      <p class="alert text-uppercase text-center fs-3" style="background-color:#FFCC99;" role="alert">
        Доставка
      </p>
      <p class="delevery_and_payment_text">
        При оформлении заказа доставка рассчитывается автоматически за исключением редких случаев, когда это не возможно (в этом случае стоимость доставки будет рассчитана менеджером). В процессе оформления заказа вы увидите стоимость доставки различными способами и можете выбрать наилучший вариант для вас.
      </p>
    </div>

  </div>
  
{% endblock %}