{% extends "base.html" %}

{% block title %}
  {{ block.super }} | Главная страница
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% load product_tags %}

{% block content %}

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    {% for stock in stocks %}
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ stock.image_stock.url }}" class="d-block w-100" alt="...">
        </div>
      </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-flex justify-content-between flex-wrap product" id="product">

    {% for item in product_page_obj %}

      <div class="card row mt-2" style="width: 18rem;">

        <div class="img-product d-flex p-3" style="width: 100%; height: 250px; flex-direction: column; align-items: center">
          <img src="{{ item.prodimg.all.0.image.url }}" style="object-fit: cover;" class="card-img-top" height="100%" width="100%" alt="...">
        </div>

        <div class="card-body">

          <h5 class="card-title text-center text-uppercase">{{ item.product_name }}</h5>

          <div class="product_brand text-uppercase fw-bolder text-center">
            <p class="card-text" style="color:#FF6600;">Бренд: {{ item.brand_product }}</p>
          </div>

          <div class="product_description text-center" style="max-height: 60px; height: 100%;">
            <p class="card-text">{{ item.description|linebreaks|truncatewords:5 }}</p>
          </div>

          <div class="text-center d-flex justify-content-around">
            <a href="{% url 'product_detail' item.slug %}" class="btn text-uppercase" style="background-color:#FF6600; color:#ffffff;">Подробнее</a>

            <form action="{% url 'add_product_in_cart' item.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn text-uppercase" style="background-color:#FF6600; color:#ffffff; border-color: #FF6600;">
                В корзину
              </button>
            </form>

          </div>

          <div class="text-center">
            <a href="{% url 'buy_product_one_click' item.pk %}" class="btn mt-2 text-center text-uppercase" style="background-color:#FF6600; color:#ffffff;">Купить в один клик</a>
          </div>

          {% if request.user.is_authenticated %}

            <div class="text-center mx-auto">
              
              <form action="{% url 'favorite_product' %}" method="POST" class="text-center mb-3 pr-3">
                {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{item.pk}}">
                {% if request.user not in item.favorite_products.all %}
                  <button type="submit" class="btn position-relative text-uppercase mt-3" style="background-color:#FF6600; color:#ffffff; border-color: #FF6600;">
                    Добавить в избранное
                  </button>
                {% else %}
                  <button type="submit" class="btn position-relative text-uppercase mt-3" style="background-color:#FF6600; color:#ffffff; border-color: #FF6600;">
                    Убрать из избранного
                  </button>
                {% endif %}
              </form>

            </div>

          {% endif %}

          <p class="text-center fw-bolder mt-2">{{ item.price_now }} руб.</p>

          {% if item.discounted_price %}

            <div class="alert text-uppercase text-center" style="background-color:#FFCC99;" role="alert">
              Скидка: {{ item.discounted_price }}
            </div>

          {% else %}

            <div class="alert text-uppercase text-center" style="background-color:#FFCC99;" role="alert">
              no sale
            </div>

          {% endif %}

        </div>

      </div>

    {% endfor %}

  </div>

  {% if product_page_obj.has_other_pages %}

    <div class="pagination_wrapper">

      <nav aria-label="Page navigation example">
        <ul class="pagination mt-5" style="color: #FF6600;">
          {% if product_page_obj.has_previous %}<li class="page-item"><a class="page-link" type="text" style="color: #FF6600;" href="{% my_url 1 'page' request.GET.urlencode %}">First</a></li>
            <li class="page-item"><a class="page-link" type="text" style="color: #FF6600;" href="{% my_url product_page_obj.previous_page_number 'page' request.GET.urlencode %}">&lt;</a></li>
          {% endif %}

          {% for page in product_page_obj.paginator.page_range %}
            {% if product_page_obj.number == page %}
              <li class="page-item active"><a class="page-link" type="text" style="color: rgb(255, 255, 255); background-color: #FF6600; border-color: #dee2e6;" href="{% my_url page 'page' request.GET.urlencode %}">{{ page }}</a></li>
            {% elif page >= product_page_obj.number|add:-2 and page <= product_page_obj.number|add:2 %}
              <li class="page-item"><a class="page-link" type="text" style="color: #FF6600;" href="{% my_url page 'page' request.GET.urlencode %}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if product_page_obj.has_next %}
            <li class="page-item"><a class="page-link" type="text" style="color: #FF6600;" href="{% my_url product_page_obj.next_page_number 'page' request.GET.urlencode %}">&gt;</a></li>
            <li class="page-item"><a class="page-link" type="text" style="color: #FF6600;" href="{% my_url product_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
          {% endif %}
        </ul>
      </nav>

    </div>

  {% endif %}

{% endblock %}