{% extends "base.html" %}

{% block title %}
  {{ block.super }} | {{ title_head }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

  <div class="d-flex justify-content-around product">

    {% for item in products %}

      <div class="card row" style="width: 18rem;">

        <img src="{{ item.prodimg.all.0.image.url }}" class="card-img-top" height="350" alt="...">

        <div class="card-body">

          <h5 class="card-title text-center text-uppercase">{{ item.product_name }}</h5>

          <div class="product_brand text-uppercase fw-bolder text-center">
            <p class="card-text" style="color:#FF6600;">Бренд: {{ item.brand_product }}</p>
          </div>

          <div class="product_description text-center">
            <p class="card-text">{{ item.description|linebreaks|truncatewords:10 }}</p>
          </div>

          <div class="text-center">
            <a href="{% url 'product_detail' item.slug %}" class="btn text-uppercase" style="background-color:#FF6600; color:#ffffff;">Подробнее</a>
            <a href="#" class="btn text-uppercase" style="background-color:#FF6600; color:#ffffff;">В корзину</a>
          </div>

          <div class="text-center">
            <a href="#" class="btn mt-2 text-center text-uppercase" style="background-color:#FF6600; color:#ffffff;">Купить в один клик</a>
          </div>

          <p class="text-center fw-bolder mt-2">{{ item.price_now }} руб.</p>

          {% if item.discounted_price %}

            <div class="alert text-uppercase text-center" style="background-color:#FFCC99;" role="alert">
              Скидка: {{ item.discounted_price }}
            </div>

          {% else %}

            <div class="alert text-uppercase text-center" style="background-color:#FFCC99;" role="alert">
              no sale
            </div>

          {% endif %}

        </div>

      </div>

    {% endfor %}

  </div>

{% endblock %}